
*{

  font-family: 'Open Sans', sans-serif;

  color: black;

}
a{
  text-decoration: none;
}



#logo-text{
  color: #BDC89C;
  font-size: 2.1rem;
  font-weight: 800;
  line-height: 46px;
  letter-spacing: -0.02em;
}


#aboutus-button{
  font-family: 'Open Sans', sans-serif;
  color: #000000;
  font-weight: 800;
  font-size: 20px;
  line-height: 33px;
}
#login-button{
  border: 1px solid #000000;
  border-radius: 10px;
  padding: 6px 24px;
  font-family: 'Open Sans', sans-serif;
  color: #000000;
  font-weight: 800;
  font-size: 20px;
  line-height: 33px;
  /* identical to box height */

  letter-spacing: -0.02em;
}

#signup-button{
  background-color: #BDC89C;
  border: none;
  border-radius: 10px;
  padding: 6px 18px;
  font-family: 'Open Sans', sans-serif;
  color: white;
  font-weight: 800;
  font-size: 20px;
  line-height: 33px;
  /* identical to box height */
}

.carousel-item {
  height : 38rem;
  }